button {
  margin: 3px;
}
.card-image{
  background-image: url("Силуэт.png");
  background-position: 6px 6px;
  background-repeat: no-repeat;
  margin:6px;
  padding-top: 6px;
  height: 345px;
}
.card-content {
  line-height: 0.1em;
} 
